<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/components/grid.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/components/card.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/semantic.css">
</head>
<body>

<div class="wrapper">
<div class="one wide column">
  <div class="word-cloud">
  </div>
</div>
  <div class="one wide column">
    <div class="header-box">
      <h3>Welcome, <%= @user.username%>, you are part of the dinner party: <%= @party.party_name%>. Search for a recipe and whip up something delish! </h3>
    </div>
</div>
<div class="one wide column">
  <div class="recipe-search">
      <%= form_tag("/recipes", method: "get") do %>
      <%= text_field_tag(:q, nil, :placeholder => "search recipes") %>
      <%= submit_tag("Search") %>
      <% end %>
  </div>
</div>  
<div id="nominated-header"><h1>Nominated Recipes</h1></div>
<div class="one wide column nominated-results">
  <div class="ui cards nominated">

  <%if @recipe_all.length < 1 %>
    <% puts "no recipes" %>
  <%else%>
    <% @recipe_all.each do |element| %>
      <% if element[:nominated] == true%>

          <div id="nominated-<%=element[:id]%>" class="card">
            <div class="content">
              <div class="header">
                <p id="recipe-name<%=element[:id]%>"><%=element.name%></p>
              </div>
              <div class="meta">
                <p id="course<%=element[:id]%>"><%=element.course%></p>
                <p id="cuisine<%=element[:id]%>"><%=element.cuisine%></p>
                <p id="rating<%=element[:id]%>">Rating: <%=element.rating%></p>
                <p id="time<%=element[:id]%>">Time: <%=element.time.to_i / 60 %></p> 
                <input type="hidden" name="idFromDB" value="<%=element[:id]%>">
              </div>
              <div class="description">
                <p id="ingredients<%=element[:id]%>"><span><%=element.ingredients%></span></p>
              </div>
            </div>
            <div class="extra content">
              <div class="ui one buttons">
                <div id="upvote-button-<%=element[:id]%>" class="ui basic green button upvote-button">upvote</div>
              </div>
              <span>upvotes: </span><span id="upvote-span-<%=element[:id]%>"><%=element.upvotes%></span>
            </div>
          </div>
      <%end%>
    <%end%>
   <%end%>
  </div>
</div>
<div class="ui divider"></div>
<div><h1>Search Results</h1></div>
<div class="one wide column search-results">
  <div class="ui cards">
      <% if @recipe_array.length < 1 %>
        <% puts "no recipes" %>
      <%else%>
      <% @recipe_array.each_with_index do |element, index| %>
           <div id="<%=element[:id]%>" class="card results-card">
            <div class="content">
              <div class="header">
                <p id="recipe-name<%=element[:id]%>"><%=element['recipeName']%></p>
              </div>
              <div class="meta">
                <p id="course<%=element[:id]%>"><%=element['attributes']['course']%></p>
                <p id="cuisine<%=element[:id]%>"><%=element['attributes']['cuisine']%></p>
                <p id="rating<%=element[:id]%>">Rating: <%=element['rating']%></p>
                <p id="time<%=element[:id]%>">Time: <%=element['totalTimeInSeconds'].to_i / 60 %></p> 
              </div>
              <div class="description">
                <p id="ingredients<%=element[:id]%>"><span class="ingreds"><%=element['ingredients']%></span></p>
              </div>
            </div>
            <div class="extra content">
            </div>
          </div>
        <%end%>
     <%end%>
  </div>
</div>
<div class="ui divider"></div>
  <div class="one wide column">
    <div class="dinner-party">
        <h1>Dinner Party</h1>
        Here is a loop of all the users in the dinner party:<br> 
        <%@party.users.each do |el|%>
          <%= el.username %> <br>
        <% end %>
    </div>
  </div>
</div>

</body>
</html>