<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/components/card.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/semantic.css">
</head>
<body>

<div class="pure-g wrapper">
    

<div class="pure-u-1">
  
  <div class="header">
    <h1>Header</h1>
    <p>Welcome, <%= @user.username%>! Please search for a recipe that you can make for your dinner party. </p>
  </div>

</div>
<br><br><br>
<!-- beginning of semantic testing -->
<div class="pure-u-1">
  <div class="ui cards">
    <div class="card">
      <div class="content">
        <div class="header">
          Recipe Name
        </div>
        <div class="meta">
          Course | Cuisine
        </div>
        <div class="meta">
          Rating | Time
        </div>
        <div class="description">
          Ingredients, ingredients, ingredients, chicken, bok choy, salt, pepper, sugar, brown sugar, olive oil, beef, turnip, onion, watermelon, cantelope, chocolate cookie dough ice cream from ben and jerrys sounds good right about now
        </div>
      </div>
      <div class="extra content">
        <div class="ui one buttons">
          <div class="ui basic green button">Nominate</div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <div class="header">
          Jenny Hess
        </div>
        <div class="meta">
          New Member
        </div>
        <div class="description">
          Jenny wants to add you to the group <b>best friends</b>
        </div>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui basic green button">Approve</div>
          <div class="ui basic red button">Decline</div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- end of semantic testing -->






<div class="pure-u-1">
  <div class="recipe-search">
    <h2>Search for Recipes</h2>
    <%= form_tag("/recipes", method: "get") do %>
    <%= label_tag(:q, "Search recipes:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
    <% end %>
  </div>
</div>  
<div class="pure-u-1">
  <div class="word-cloud">
  </div>
</div>

<div class="pure-u-1">
  
  <div class="nominated">
    <h1>Nominated Recipes Here</h1>
    


    <%if @recipe_array.length < 1 %>
      <% puts "no recipes" %>
    <%else%>
      <% @recipe_array.each do |element| %>
        <% if element[:nominated] == true%>
          <div class="pure-u-1-3 result">
            <p><%=element.name%></p>
            <p><%=element.course%></p>
            <p><%=element.ingredients%></p>
            <p><%=element.time%></p>     
            <p><%=element.nominated%></p> 
            <p>Upvotes:<%=element.upvotes%></p>
            <br>
            <form action='/recipes' method="PUT">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
              <input type="hidden" name="upvote" value="yes">
              <input type="hidden" name="name" value="<%=element.name%>">
              <button>Upvote</button>
            </form>
          </div>
        <%end%>
      <%end%>
     <%end%>
    </div>
</div>

<div class="pure-u-1">
    

    <div class="recipe-results">
      <h1>Yummly Data here..</h1>
      
      
      <% if @recipe_array.length < 1 %>
        <% puts "no recipes" %>
      <%else%>
      
      <% @recipe_array.each_with_index do |element, index| %>
        
        
          <div id="<%=element[:id]%>" class="pure-u-1-3 result">
            <p id="recipe-name<%=element[:id]%>"><%=element['recipeName']%></p>
            <p id="course<%=element[:id]%>"><%=element['attributes']['course']%></p>
            <p id="cuisine<%=element[:id]%>"><%=element['attributes']['cuisine']%></p>
            <p id="rating<%=element[:id]%>">Rating: <%=element['rating']%></p>
            <p id="ingredients<%=element[:id]%>"><span><%=element['ingredients']%><span></p>
            <p id="time<%=element[:id]%>">Time: <%=element['totalTimeInSeconds'].to_i / 60 %></p> 

            <button class="nominate-button" id="nominate-button<%=element[:id]%>" style="color: black;">Nominate</button>
          </div>
        <%end%>

     <%end%>
    </div>

  </div>

  <br><br>

  <br><br>
  <div class="pure-u-1">
    <div class="dinner-party">
        <h1>Dinner Party Here</h1>
        Here is a loop of all the users in the dinner party:<br> 
        <%@party.users.each do |el|%>
        <%= el.username %> <br>
        <% end %>
        <br><br>
        
    </div>
  </div>
</div>

</body>
</html>